<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StringsTable</key>
    <string>ThirdPartyLicenses</string>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
        <key>Type</key>
        <string>PSGroupSpecifier</string>
        <key>FooterText</key>
        <string>Train Your Eyes - License and Agreement

Copyright (c) 2018 Dr. Gloria Wu and Trisha Karani

This is a vision improvement research application built under the guidance of Dr. Gloria Wu, MD Opthalmologist. She is author of three books:
1. Retina - The Fundamentals (ISBN: 0721666914)
2. Opthalmology for Primary Care (ISBN: 0721650783)
3. Diabetic Retinopathy: The Essentials (ISBN: 1605476625)

Train Your Eyes application is not meant for diagnostic or treatment of any diseases. 

The application is a result of the medical research carried out to improve the vision and focus of humans. The application will provide valuable data for understanding the impact of eye exercises. The data collected during the research work is going to be used for medical analysis. 

We maintain the confidentiality of our customers results, and no personal data will be shared.

The application has been developed by Trisha Karani, as an internship project under the guidance of Dr. Gloria Wu 
For application feedback, please contact
Trisha Karani (trisha.karani@gmail.com)

For all medical research, please contact 
Dr. Gloria Wu (gloria_wumd@sbcglobal.net)

</string>
      </dict>
    </array>
  </dict>
</plist>
