<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StringsTable</key>
    <string>ThirdPartyLicenses</string>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
        <key>Type</key>
        <string>PSGroupSpecifier</string>
        <key>FooterText</key>
        <string>Train Your Eyes

Copyright (c) 2018 Dr. Gloria Wu and Trisha Karani

This is a Vision Improvement research app. It is not meant for diagnostic or treatment of any diseases. There have been many medical research carried out to improve the vision of humans. We are using the research work to help the community. The data collected during the research work is going to be used for medical analysis. 

We will maintain the confidentiality of our customers results, and no personal data will be shared.

For more details, please contact 
Dr. Gloria Wu (gloria_wumd@sbcglobal.net)
Trisha Karani (trisha.karani@gmail.com)

</string>
      </dict>
    </array>
  </dict>
</plist>
